/*new*/
.select-lang {
  display: flex;
  justify-content: center;
}

/*Dropdown Button*/
.dropdown-btn {
 background-color: rgba(198, 223, 248, 1);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdonw content */
.dropdown {
  position: relative;
  display:  inline-block;
}

/* Dropdown Content (hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 10%;
}

/* Create box menu */
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-align: right;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b3e6ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-b:hover .dropdown-content-b {
  display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropodown:hover .dropdown-btn {
  background-color: #3e8e41;
}

header {
    padding: 2em 0;
    background-color: rgba(198, 223, 248, 1);
}

.container-dark, footer{
 background-color: rgba(198, 223, 248, 1);
}

.container-dark{
 width: 100%;
 display: table;
 padding-bottom: 1em;
}

.bs-docs-nav{
 background-color: rgba(198, 223, 248, 1);
 text-shadow: none;
}

.bs-masthead{
 background-color: #fefefe;
 color: #444;
 text-align: center;
 text-shadow: none;
 padding: 2em 0;
}

.bs-masthead h1{
 color: #333;
}

.bs-masthead .lead{
 margin: 0;
 margin-bottom: 1em;
}

.navbar-inverse{
 border: 0;
}

.bs-masthead-links a {
 color: #777;
}

.bs-masthead-links{
 text-align: center;
}

.bs-footer{
 text-align: center;
 padding: 1em 0;
}

h2{
 margin-bottom: 1em;
}

p{
 font-size: 1.1em;
}

#main-container{
 background: url("../img/logo-1.jpg") right top no-repeat;
}

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 300;
  src: local('Signika Negative Light'), local('SignikaNegative-Light'), url(http://themes.googleusercontent.com/static/fonts/signikanegative/v3/q5TOjIw4CenPw6C-TW06FsC-V7OaTEQVGc9Xldn9X1c.woff) format('woff');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Negative'), local('SignikaNegative-Regular'), url(http://themes.googleusercontent.com/static/fonts/signikanegative/v3/Z-Q1hzbY8uAo3TpTyPFMXRHNiTsuUke-4A8E9eWZJHI.woff) format('woff');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 600;
  src: local('Signika Negative Semibold'), local('SignikaNegative-Semibold'), url(http://themes.googleusercontent.com/static/fonts/signikanegative/v3/q5TOjIw4CenPw6C-TW06FtTDf0ppND965ze6FI_VCjU.woff) format('woff');
}
