{% extends "cdpedia_base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

{% if results %}
    <h1 class="firstHeading">{{ gettext('Results of the search for') }} <i>'{{ search_string }}'</i></h1>
    <ul>
    {% for result in results %}
      <li class="search-result">
          <div class="search-result-title"><a href="/{{ result.link }}">{{ result.title }}</a></div>
          {% if result.description %}<div class="search-result-text"> {{ result.description }} </div>{% endif %}
      </li>
    {% endfor %}
    </ul>
{% else %}
    <h1 class="firstHeading">{{ gettext('Nothing found for') }} <i>'{{ search_string }}'</i></h1>
{% endif %}
{% endblock %}
